<%= form_tag password_resets_path :method => :post do %>

<!-- passes email to 'create' method in password_resets controller -->
	<div class="field">
		<%= label_tag :email %>
		<br />
		<%= text_field_tag :email, params[:email] %>
	</div>	
	<div class="actions"> <%= submit_tag "Send Password Reset Email" %></div>
<% end %>
